<div class='mt-40 mb-5'>
  <p class='text-center'>
    Built using <a
      href='https://astro.build/'
      class='hover:text-[#FF5D01] duration-200'
      target='_blank'
      rel='noopener noreferrer'>Astro</a
    >
  </p>
</div>
